/*Подключение шрифта*/
@font-face{
    font-family: MuseoSansCyrl;
    src: "fonts/MuseoSansCyrl.otf";
}
@font-face{
    font-family: Geometric;
    src: "fonts/geometric.otf";
}
header{
    width: 100%;
    height: 120px;
    background-color: #252525;
    padding-top: 20px;
}
.logo{
    float: left;
    width: 200px;
    height: 20px;
    background-image: url("../img/logo.png");
    margin-top: 8px; 
    background-repeat: no-repeat;
}
.menuA{
    display: block;
    float: left;
    text-decoration: none;
    margin-left: 20px;
    font-family: MuseoSansCyrl;
    font-size: 18pt;
    color: #ffffff;
}
.clear{
    clear: both;
    width: 100%;
    height: 0;
}
nav{
    float: right;
    margin-right: 5%;
}
.container1{
    min-height: calc(100vh - 140px);
    background-color: #000000;
}
.container1 .col-lg-5{
}
.container1 .col-lg-5 img{
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.container1 .col-lg-7{
}
.container1 .col-lg-5 p{ 
    max-width: 266px;
    margin: 10px auto;
    color: #3d3d3d;
    
}
.container1 .col-lg-7 h3{
    color: #ffffff;
    margin-top: 70px;
}
.container1 .col-lg-7 p:nth-child(2){
    color: #3d3d3d;
}
.container1 .col-lg-7 p{
    font-size: 15pt;

    max-width: 650px;
    color:#ffffff;
}
#sec2{
    min-height: 100vh;
    background-color: #252525;
}
.sec2h2{
color: #999999;
font-size: 36pt;
font-family: Geometric;
padding-top: 200px;
margin: 0 auto 88px auto;
width: fit-content;

}
.sec2h2:first-letter{
    text-transform: capitalize;
}
.sec2img{
    margin-right: 127px;
    transform: scale(1);
    transition: transform 1s;
}
.sec2img:hover{
    transform: scale(1.3);
    transition: transform 1s;
    cursor: pointer;
}
.sec2img:nth-child(4n){
    margin-right: 0;
}
.fa-chevron-left{
    margin-right: 54px;
    color: #939393;

}
.fa-chevron-right{
    color: #939393;
    margin-left: 54px;
}
.photos{
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.fa-circle{
    color: #898989;
}
.slaider a:first-child{
    color: #000000;
}
.slaider{
    margin: 120px auto 0 auto;
    width: fit-content;
}
.fa-circle:hover{
    color: #000000;
}
.slaider a{
    padding-right: 15px;
}
nav a:hover{
    opacity: 0.4;
    text-decoration: none;
    color: white;
}
.conteiner{
    width: 100%;
    background-color: #252525;
}
.content{
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}
.conteiner3 .col-md p{
color: #cccccc;
margin: auto;
max-width: 470px;
text-align: left;
}
#img1{
    position: relative;
    z-index: 1;
    left: 100px;
    top: 100px;
}
#img2{
    position: absolute;
    z-index: 10;
    
}
.conteiner3 h3{
    color: #999999;
    text-align: center;
    font-family: Geometric;
    font-size: 36pt;
    margin-top: 120px;
    margin-bottom: 100px;
}
.conteiner3 p{
    font-size: 18pt;
    font-family: MuseoSansCyrl;

}
.conteiner3{
    min-height: 90vh;
    min-width: 100%;
}
